:root {
  --bs-font-sans-serif: 'Ubuntu Mono', monospace;
  --color-view-border: #606060;
}

header {
  max-width: 16rem;
}

#view {
  visibility: hidden;
  border: 4px dotted var(--color-view-border);
  border-radius: 8px;
}

.small-caps {
  font-variant: small-caps;
}

#play {
  width: 4.3rem;
  height: 4.3rem;
  margin-left: 0.8rem;
}

#message {
  font-size: 1.25rem;
  color: var(--color-view-border);
}

.arrow-buttons {
  padding-left: 5rem;
}

.arrow-buttons button {
  width: 5rem;
  margin: 0.2rem 0.3rem;
}

#up {
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
}

#down {
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
}

#left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

